body {
}

.button-wrap{
    color:#ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
    text-decoration:none;
}

select{
    color: black;
}
a{
    text-decoration: none;
}

.dropdown-list-wrapper{
    color:black;
}
